	.main_header_area {border-bottom:3px solid #c579f5;}
	.mainmenu ul#nav li:before,
	.single_courses_thumb .links > a:hover,
	.single_courses_thumb .links > a.single_courses_thumb .links > a,
	.teacher_social_info,
	.owl-dot.active,
	.single-accordion h5 a,
	.blog-tag button,
	.submit-btn > a:hover,
	#contact-form input#submit:hover,
               #scrollUp,
	.social-links li > a > i,
	.replay:hover,
	.not-found-text > a:hover,
	.social-icon-area a i:hover,
	.scribe-bar > form > input.submitButton:hover,
	.gallery_area .single_gallery_item .links > a:hover,
	.pagination_area ul lil a,
	.pagination_area ul li a:hover,
	.event_now_button,
	.single_share_link:hover,
	.single_courses_area .social_links a i:hover,
	.about_us_thumb,
	.register_form .single_input_area > input#reg_submit,
	.login_manual_form .single_input_area > input#login_submit,
	.sign_in_twitter,
	.basic_contact_area form > input#submit:hover {background-color: #c579f5;}
               .top_header_area {background-color: #c579f5;}

	.mainmenu ul#nav li.current_page_item a,
	.mainmenu ul#nav li:hover a,
	.mainmenu ul#nav li ul.sub-menu li a:hover,
	.search_button a > i:hover,
	.search_box_area #close_button,
	.slider-area .nivo-caption .lft-pr h2,
	.slider-area .nivo-caption .lft-pr a:hover,
	.single_feature:hover .feature_img span,
	.single_feature:hover .feature_text h5,
	.single_courses:hover .title > a > h5,
               .section_heading h4,
	.cool_facts_area .col-xs-12:nth-child(even) .cool_fact_text,
	.testimonial_text > p:before,
	.testimonial_text > h5,
	.video_play_button i,
	.important_links .links a:hover, .important_links .links > p:hover > i,
	.event_single_post > a:hover,
	.page_pagination ul > li > a:hover,
	.singl-blog-top-bg-area p,
	.singl-blog-top-bg-area p a,
	.singl-blog-status-bar span i,
	.single_latest_news_area:hover .single_latest_news_text_area .news_title h4,
	.blog-share button.like i,
	.single_contact_info p a:hover,
	.author-name h5, .commenter h5,
	.commenter > a,
	.error_page .not-found-text h2,
	.courses_number i,
	.about_us_text > h3 span,
	.tea_single_contact_info .contact_icon > i,
	.tea_single_contact_info .contact_icon.social > a,
	.forget_pass > a:hover {color: #c579f5;}

	.mainmenu ul li ul.sub-menu {border: 3px solid rgba(197,121,245,.7);}
	.price_rating_area {background-color: rgba(197,121,245,.2);}
	.single_latest_news_area,
	.popular_coureses_area.all_courses .single_courses {box-shadow: 0 0 16px 0 rgba(197,121,245,.5);}
	.single_latest_news_area:hover {box-shadow: 0 0 6px 0 rgba(197,121,245,.8);}
	.single_latest_news_img_area {box-shadow: 0 0 6px 0 rgba(197,121,245,.5);}
	.single_latest_news_scale_area {box-shadow: 0 0 6px 0 rgba(197,121,245,.5);}
	.single_latest_news_scale_area:hover {box-shadow: 0 0 16px 0 rgba(197,121,245,.8);}
	.pagination_area li a {border: 2px solid rgba(197,121,245,.5); color: rgba(197,121,245,.5);}
	.login_thumb:after {background: rgba(197,121,245,1); background: -webkit-linear-gradient(top, rgba(230, 126, 34, 0), rgba(197,121,245,1)); background: linear-gradient(to bottom, rgba(230, 126, 34, 0), rgba(197,121,245,1));}

	a,a:focus,a:hover{font-size: 15px; color:#000}
	a:hover{font-size: 15px; color:#c579f5}
	.search_box_area {border: 5px solid #c579f5;}
	.slider-area .nivo-caption .lft-pr a {background: #c579f5; border: 1px solid #c579f5;}

	.price_rating_area,
	.footer_area {border-bottom: 5px solid #c579f5;}

	.single_teacher_profile:hover .single_teacher_details_info,
	.owl-dot.active:before,
	.basic_contact_area form > input:focus,
	.basic_contact_area form > textarea:focus {border: 1px solid #c579f5;}

	.published_date p.date {background: #c579f5 none repeat scroll 0 0;}
	.video_play_button {border: 10px solid #c579f5;}
	.single_courses.course-list .single_courses_desc .price_rating_area {border-bottom: 7px solid #c579f5;}
	.singl-blog-details blockquote {border-left: 10px solid #c579f5;}
	.media-body a.reply:hover {background-color: #c579f5; border: 1px solid #c579f5;}
	.single_contact_info i:hover {background: #c579f5; border-color: #c579f5;}
	.count_down_clock_area .count_down .single_count {border: 5px solid #c579f5;}
	.single_course_catagory:hover {border-bottom: 8px solid #c579f5;}

	.black_content{position:absolute; top:0; left:0; width:100%; height:100%; filter:alpha(opacity=50); opacity:0.5; background-color:#FFFFFF; z-index:1001;}
	.white_content{display:none;position:fixed; top:0; width:100%; height:100%; margin:auto; padding-top:150px; background-color: rgba(197,121,245,.1); z-index:1002;}
	.video{width:58%; min-width:530px; clear:both; display:block; margin:auto}
	.hover_overlay{padding:10px; border:rgba(197,121,245,.2) solid 1px; transition:box-shadow .5s；}
	.hover_overlay:hover{box-shadow: 0 0 10px #c579f5; scale: 1.01; transition-duration: .5s}
	.video_close{width:58%; min-width:530px;position:relative;z-index:1;bottom:-50px;margin:auto;padding:12px 18px;font-size:24px;font-weight:300;line-height:1;/*filter:alpha(opacity=50);opacity:.5*/}
	.video_close_a{color:#aaa}