@charset "utf-8";
/* CSS Document */
body{ overflow: auto;background: #fff;}
.banner_index { background:url(../images/banbg.png) no-repeat center top; width: 100%;position: relative;  padding-bottom:150px ; background-size: cover; padding-top: 80px;}
.sban_index { background:url(../images/sban.png) no-repeat center bottom; width: 100%;position: relative; background-size: cover; padding:110px 0;}
.banner_index .tmbg{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: rgba(3, 78, 161, 0.65);}
.hsbg{ background: #eef3f7;}
.bannerImg img {display: inline-block;vertical-align: middle;max-width: 100%;max-height: 100%; -ms-interpolation-mode: bicubic; }
.rowbox{ max-width:1300px; margin: 0 auto; width: 95%;}
img{display: inline-block;}
.temp_page{ font-size: 14px; min-width: 1200px;}
#fp-nav{ display: none;} 
.top{ display: none;}
.flex-container{ display: -webkit-box;display: -ms-flexbox;display: flex;  -webkit-box-align: center;-ms-flex-align: center;align-items: center;    justify-content: space-between; }
.container{padding:15px 0;}




.main_index{position: relative;}
.topbg{ width: 100%;  background: #034ea1;}
.link{text-align: right;max-width:1300px; margin: 0 auto; width: 95%; line-height: 45px;}
.link ul{/* float: right; */}
.link ul li{  display: inline-block;font-size: 14px;padding: 0 15px;vertical-align: middle;}
.link ul li.sign{border-right: 1px solid #aec6f4;}
.link ul li span{ width:30px; height: 30px; border-radius:30px; -moz-border-radius: 30px;-webkit-border-radius: 30px;-o-border-radius:30px;background:transparent; text-align: center; line-height:30px;    padding: 0; display: inline-block; border: 1px solid #084775; margin-right: 5px;}
.link ul li.sign img{vertical-align: middle; margin-right: 5px;}
.link ul li a{color: #a2caf5;}
.link ul li a i{ width: 28px; height: 28px; vertical-align: middle; text-align: center; line-height: 28px; display: inline-block; background: url(../images/icon.png) no-repeat 0 center; margin-right: 10px;}
.link ul li a i.sys{ background-position:2px 2px;}
.link ul li a i.team_ico{ background-position:-97px 2px;}
.link ul li a i.teacher_ico{ background-position:-185px 2px;}
.link ul li a i.login_ico{ background-position:-252px 2px;}
.link ul li a:hover{ color: #fff;}
.link ul li .js{ background-position:0px 0;}

.search{width:545px;margin: 0 auto; position: relative; height: 74px; /* clear: both; */margin-top: 29px;background: rgba(255, 255, 255, .45); padding: 5px;}
.search .ss{ width:calc(100% - 103px); height:64px; padding-left:10px; line-height:64px; background:#fff; vertical-align:middle; color:#333; font-size: 15px;}
.search .ssbtn{ width:103px; height:64px;line-height: 64px; background:#0672e9; vertical-align:middle; cursor: pointer; color: #fff; text-align: center; font-size: 16px;}
.search .ssbtn img{ vertical-align: middle; margin-right:5px;}


.header{width:100%;position: relative;}
.bg{background: rgba(8, 11, 26, 0.8);}
.headr{float:right;padding-top: 10px;width:200px;text-align: right;}
.logo_l{float:left;text-align: left;margin-top: 22px; margin-bottom: 20px;}
.logo_l img{ display:inline-block;vertical-align:middle; -webkit-transition:.5s;transition:.5s;}
.logo_l span{ display:inline-block;vertical-align:middle; color:#0a0a0a; font-weight: bold; font-size:27px;font-family:"华文中宋"}
.logo_l i{ width:1px; height:36px;display:inline-block; vertical-align: middle; border-radius: 100%; background: #034ea1; margin: 0 15px;}

.searhbox01{height:65px;line-height:65px;overflow: hidden;background:rgba(255, 255, 255, 0.25);margin-left:20px; margin-top: 15px;border-radius:35px;padding:5px 5px 3px 0; margin: 0 15px;}
.searhbox01 .text{ width:calc(100% - 130px);background:transparent;padding: 0 20px;float: left;height:60px;line-height: 60px;font-size: 18px;}
.searhbox01 .btn{ width:120px; height:55px;float:right;line-height: 40px;background: #cf9f53; color: #fff;border-radius:30px; font-size: 18px; cursor: pointer; }
.searhbox01 .btn img{ margin-right: 5px; vertical-align: middle;}
.searhbox01 .btn:hover{ background: #e3af5d;}

/*导航*/
.navbg{ max-width:1300px; margin:95px auto 0 auto; width: 95%;height:50px; line-height:50px;}
.nav{float: right; width: 50%;  }
.nav ul{ padding: 0;text-align: right;}
.nav li{float: left; padding:40px 0 8px 0; width: 104px;  text-align: center;  position:relative;font-size:18px; margin: 0 1%; -webkit-transition:.5s;transition:.5s;}
.nav li:nth-child(2),.nav li:nth-child(3){ width: 123px;}
.nav li a{ display:block; color:#333; position: relative; z-index: 2; }
.nav li.on{ background: #034ea1;}
.nav li.on:after{ position: absolute; bottom:-32px; left: 0; content: ""; width: 0; height: 0;border-left:52px solid transparent;border-right: 52px solid transparent;border-top: 32px solid #034ea1;}
.nav li:nth-child(2).on:after,.nav li:nth-child(3).on:after{border-left:61px solid transparent;border-right: 61px solid transparent;}
.nav li.on a{color: #fff;}
.nav li.on a:after{ width: 32px; height: 1px; content: ""; position: absolute; bottom: -10px; left: 50%; margin-left: -16px; background: #fff;}


/*手机导航*/
.head_r{ float:right; padding-top:8%; }
.meun_icon{ width: 30px; height: 30px;display: none;}
.meun_icon img{cursor: pointer;}
#navbg{ position: fixed;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5);left: 0;top: 0;display: none;z-index: 999;}
.mob_nav{ position: fixed; right:-70%;top: 0; z-index: 999; background: #034ea1;width:70%; height: 100%; }
.mob_nav li{padding:10px 0px; line-height:45px; position:relative;font-size:20px; width: 100%; text-align: center;border-bottom: 1px solid #1478c1;}
.mob_nav li:last-child{}
.mob_nav .colsebtn{ text-align: right; width:100%; height:25px;margin-top: 15px;padding-right: 15px;}
.mob_nav .colsebtn img{width: 25px; height:25px;}
.mob_nav li a{ display:block; color:#fff; }

.rone{position: relative;z-index: 3;}



/*热点主页*/

.updates{position: relative;z-index:90; padding-top:2%; padding-bottom: 20px; margin-top: 50px;}
.tit{ text-align: center;}
.tit h1{ font-size:36px; line-height:70px; font-family: "华文中宋"; display: inline-block; font-weight: bold;  color: #034ea1;position: relative; -webkit-transition:.5s;transition:.5s;}
.tit h1:before{ content: ""; display: block; position: absolute; top:20px; bottom: 0; left: -157px; width:137px;height: 25px; background: url(../images/titbg.png) no-repeat 0 0;}
.tit h1:after{ content: ""; display: block; position: absolute; top:20px; bottom: 0;right: -157px; width:137px;height: 25px; background: url(../images/titbg.png) no-repeat right -45px;}
.tit h1 i,.tit h3 i{ position: absolute; left: -18px; top:-11px; color: #d8e1ec; content: ""; font-size: 40px;font-weight: bold;z-index: -1; }
.row_one{ margin-top:30px; width:100%; margin-left: auto; margin-right: auto;}
.row_one .slick-list .slick-slide {margin: 0 15px;}
.row_one ul{ position: relative;}
.row_one .slick-list li{ float: left;background:rgba(255, 255, 255, 0.7); cursor: pointer;padding: 15px;  padding-bottom: 50px;}
.row_one  .slick-list li h2{ font-size:20px;padding-left:30px; background: url(../images/ky.png) no-repeat left 7px; color: #1d1d1d; padding-bottom: 10px; padding-top: 10px; text-overflow:ellipsis; -o-text-overflow:ellipsis;white-space:nowrap;*white-space:nowrap;overflow:hidden; font-weight: bold;}
.row_one .slick-list li .nbox{  text-align: center; margin-top: 20px;}
.row_one .slick-list .slick-track:after,.row_one .slick-list li .nbox:after{visibility:hidden; display:block; content:""; clear:both} 
.row_one .slick-list li .imgbox{ float: left; width:113px; padding: 10px 0; background:#034ea1 ; line-height:145px; text-align: center; position: relative;}
.row_one .slick-list li .imgbox:after{ position: absolute; bottom:-32px; left: 0; content: ""; width: 0; height: 0;border-left:57px solid transparent;border-right: 56px solid transparent;border-top: 32px solid #034ea1;}
.row_one .slick-list li .imgbox a{ display: block; width: 85px; height: 85px; text-align: center; line-height:76px; margin: 0 auto; border-radius:100%; -moz-border-radius: 100%;-webkit-border-radius:100%;-o-border-radius: 100%; overflow: hidden;text-align: center;background: #fff; border: 3px solid #fff;}
.row_one .slick-list li .imgbox img{ width: 100%; height:100%;vertical-align: middle; display: inline-block; border-radius: 50%; object-fit: cover;}
.row_one .slick-list li .text_p{  overflow: hidden; text-align: left; padding-left: 20px; font-size: 16px;}
.row_one .slick-list li .text_p p{line-height: 26px; margin-top: 10px; color: #5f5e5e;}
.row_one button.slick-prev{left:-50px}
.row_one button.slick-prev:before{position: absolute;left: 21px; content: "";width:3px;height:21px;top:8px;background: #c1c1c1;-webkit-transform: rotate(45deg);transform: rotate(45deg);margin: auto;}
.row_one button.slick-prev:after{position: absolute;left: 21px;content: ""; width: 3px;height:21px; background: #c1c1c1;-webkit-transform: rotate(-45deg);transform: rotate(-45deg); margin: auto;}
.row_one button.slick-next{right:-50px}
.row_one button.slick-next:before{position: absolute; content: "";width:3px;right:21px;height:21px;background: #c1c1c1;-webkit-transform: rotate(45deg);transform: rotate(45deg);margin: auto;}
.row_one button.slick-next:after{position: absolute;top: 8px;content: ""; right:21px;width:3px;height:21px; background: #c1c1c1;-webkit-transform: rotate(-45deg);transform: rotate(-45deg); margin: auto;}
.row_one .slick-dots{ text-align: center;margin-top: 40px;}
.row_one .slick-dots li{ display: inline-block; margin: 0 10px;width:40px; height:5px; background: #e2e2e2; font-size: 0; cursor: pointer;}
.row_one .slick-dots li.slick-active{width:45px; background: #034ea1;}


@font-face {
	font-family: Futura;
	src: url(font/FuturaLT-Heavy.eot);
	src: url(font/FuturaLT-Heavy.eot#iefix) format("embedded-opentype"), url(font/FuturaLT-Heavy.woff) format("woff"), url(font/FuturaLT-Heavy.ttf) format("truetype"), url(font/FuturaLT-Heavy.svg#aleobold) format("svg");
	font-weight: 100;
	font-style: normal;
}
/*推荐主页*/
.hotbox{ background: url(../images/tjbg.jpg) no-repeat center top #034ea1; padding-top:20px; padding-bottom: 80px; margin-top: 35px; }
.hotbox .tit{ text-align: center; margin: 50px 0 30px 0;}
.hotbox h3{ font-size: 32px; line-height: 80px; display: inline-block; color: #fff;padding: 0 19px; position: relative; font-weight: bold; z-index: 1;}
.tit h3 i{  color: #4770b0;}
.bjfx{ width: 100%; position: relative;}
.hotbox .slick-slide li{padding:10px;width: calc(50% - 30px) !important; float: left; margin:15px; border-left: 2px solid #2b458f; background: #f8f6f6;}
.hotlist{ width:90%; padding:20px; background:url(../images/hhbg.png) no-repeat right top #fff;margin: 0 auto; position: relative; z-index: 3;}
.bjfx .bjtop{ content: ""; position: absolute; top: -57px; left: -1px;width: 116px; height: 113px;}
.bjfx .bjbottom{ position: absolute; bottom: -50px; right: 0px;width: 129px; height: 125px;}
.hotlist .slick-slide{ width: 80%; margin: 0 auto; position: relative;}
.hotlist .slick-slide .more{ display: inline-block; width: 122px; height: 43px; line-height: 43px; text-indent:20px; border-radius: 25px; background: #034ea1; color: #fff; position: absolute; bottom: 20px; left: 0;}
.hotlist .slick-slide .more:hover{background: #0658b4;}
.hotlist .slick-slide .more i{ display: inline-block; margin-left: 7px; -webkit-transition: all .3s;transition: all .3s;}
.hotlist .slick-slide .more:hover i{ margin-left: 14px;}
.hotlist li:after{visibility:hidden; display:block; content:""; clear:both}
.tdimg{ float: left; width:27%; height:348px; overflow: hidden; text-align: center; line-height:348px; background: #f5f5f5;}
.tdimg img{ max-width:100%; max-height:100%; vertical-align: middle; display: inline-block;object-fit: cover;}
.name_t{ float: left; width: calc(100% - 27% - 40px); margin-left:40px; padding-top:8px; position: relative; min-height: 348px; }
.name_t h1{  font-size:20px; font-weight: bold; text-align: left;display: inline-block; padding:10px 0px; }
.name_t h1 em{ font-size: 14px; padding-left: 20px; color: #034ea1;}
.name_t p{ line-height: 30px; font-size: 14px; margin-top: 15px; line-height: 30px;}

.hotlist button.slick-prev{left:-8%}
.hotlist button.slick-prev:before{position: absolute;left: 21px; content: "";width:2px;height:10px;top:14px;  background: #c1c1c1;-webkit-transform: rotate(45deg);transform: rotate(45deg);margin: auto;}
.hotlist button.slick-prev:after{position: absolute;left: 21px;content: ""; width: 2px;height:10px;bottom: 14px; background: #c1c1c1;-webkit-transform: rotate(-45deg);transform: rotate(-45deg); margin: auto;}
.hotlist button.slick-next{right:-8%}
.hotlist button.slick-next:before{position: absolute; content: "";width:2px;right:21px;height:10px;bottom: 14px;background: #c1c1c1;-webkit-transform: rotate(45deg);transform: rotate(45deg);margin: auto;}
.hotlist button.slick-next:after{position: absolute;top:14px;content: ""; right:21px;width:2px;height:10px;background: #c1c1c1;-webkit-transform: rotate(-45deg);transform: rotate(-45deg); margin: auto;}
.hotlist .slick-dots{ position:absolute; right: 20px; bottom: 20px; display: inline-block; text-align: center;}
.hotlist .slick-dots li{ display: inline-block; margin: 0 10px;}
.hotlist .slick-dots button{width: 15px; height: 15px; background: #d6d8d9; border-radius:100%; font-size: 0;}
.hotlist .slick-dots .slick-active button{ background: #034ea1; width: 18px; height: 18px; cursor: pointer;}



/*最新更新*/
.recombox{position: relative;z-index:90; padding:3% 0; background: #fff;}
.recomlist{}
.recomlist ul.listleft{ position: relative; margin-top: 70px;}
.recomlist .slick-list .slick-slide{ float: left;margin:0 20px;background: #f5f5f5;padding:20px 30px; cursor: pointer; position: relative; overflow: hidden; }
.recomlist .slick-list .slick-slide:hover{ background: #034ea1;}
.recomlist .slick-list .slick-slide:hover a{color: #fff;}
.recomlist .slick-list .slick-slide:hover p{color: #fff;}
.recomlist .jgname{text-align: left;overflow: hidden;position: relative; }
.recomlist .jgname h2 a{ font-size:22px; font-weight: bold; display: block; text-align: left; color: #333; line-height:30px; margin-top: 10px;text-overflow:ellipsis; -o-text-overflow:ellipsis;white-space:nowrap;*white-space:nowrap;overflow:hidden;}
.recomlist .jgname p{
    color: #fff;
    margin-top: 13px;
    font-size: 16px;
    
    }
.recomlist .jgname p a{color: #666666;width: 100%;line-height: 26px;display: inline-block;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.mber{ margin-top:20px;}
.mber a{ display: inline-block; width: 92px; height: 92px; margin: 0 10px; border: 1px solid #4b81bc;border-radius: 100%; padding:5px; vertical-align: middle;}
.mber a span{ display: block; width: 80px; height: 80px; line-height: 80px; text-align: center;}
.mber a span img{ vertical-align: middle; width: 100%;height: 100%;border-radius: 50%; object-fit: cover;}
.mber a.more{ width: auto; font-size:24px; color: #5184bc; border: 0; line-height: 92px;}
.recomlist ul.listleft .slick-arrow{ width: 50px; height: 50px; text-align: center;border-radius: 100%; line-height: 50px; border: 1px solid #fff; font-size: 0; position: absolute; top:40%; cursor: pointer;}
.recomlist .slick-arrow.slick-prev{left:-123px; background: url(../images/l_jt.png) no-repeat center center;}
.recomlist .slick-arrow.slick-next{left:-63px; background: url(../images/r_jt.png) no-repeat center center;}
.recomlist .slick-arrow.slick-prev:hover{background: url(../images/l_jt.png) no-repeat center center #eaa700;}
.recomlist .slick-arrow.slick-next:hover{background: url(../images/r_jt.png) no-repeat center center #eaa700;}
.slick-dots{ text-align: center; margin-top: 40px;}
.slick-dots li{margin: 0 10px; display: inline-block;width:40px; height:5px; background: #e2e2e2; font-size: 0; cursor: pointer;}
.slick-dots li.slick-active{width:45px; background: #034ea1;}


/*最新更新*/
.row_th{  padding-top:65px;}
.latest{ margin-top: 50px;}
.latest .slick-slide{ position: relative; margin:0 15px; }
.latest .slick-slide li{ margin: 15px 0;background: #f5f5f5; padding: 0 25px;}
.latest .slick-slide h3{ font-size: 20px; color: #292929; text-align: left; float: left; width: calc(100% - 113px); line-height: 30px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;overflow: hidden;height:60px; padding: 25px 0;}
.latest .slick-slide .date{float: right;width:83px;padding: 10px 0 0;background:#034ea1;text-align: center;position: relative;}
.latest .slick-slide .date:after{position: absolute;bottom: -24px;left: 0;content: "";width: 0;height: 0;border-left: 41px solid transparent;border-right: 42px solid transparent;border-top: 24px solid #034ea1;}
.latest .slick-slide p{ font-size: 16px; color:#fff; line-height: 30px;font-family: "华文中宋";}
.latest .slick-slide p.month{ font-size: 24px;}
.latest .slick-slide a.more{ position: absolute; left: 50%;bottom: -33px; margin-left:-35px; font-size: 40px; text-align: center; line-height: 66px; width: 70px; height: 66px; color: #fff; background: url(../images/more_t.png) no-repeat;}
.latest ul .slick-arrow{ width: 50px; height: 50px; text-align: center;border-radius: 100%; line-height: 50px; border: 1px solid #fff; font-size: 0; position: absolute; top:-75px; cursor: pointer;}
.latest .slick-arrow.slick-prev{right:63px; background: url(../images/l_jt.png) no-repeat center center;}
.latest .slick-arrow.slick-next{right:0px; background: url(../images/r_jt.png) no-repeat center center;}
.latest .slick-arrow.slick-prev:hover{background: url(../images/l_jt.png) no-repeat center center #eaa700;}
.latest .slick-arrow.slick-next:hover{background: url(../images/r_jt.png) no-repeat center center #eaa700;}



/*团队列表*/
.row_team{ margin-top:15px;margin-left: auto; margin-right: auto;}
.row_team li{ float: left;background:#f5f5f5; cursor: pointer;padding: 15px;  width: 31.3333%; margin:15px 1%; padding-bottom: 50px;}
.row_team li h2{ font-size:20px;padding-left:30px; background: url(../images/ky.png) no-repeat left 7px; color: #1d1d1d; padding-bottom: 10px; padding-top: 10px; text-overflow:ellipsis; -o-text-overflow:ellipsis;white-space:nowrap;*white-space:nowrap;overflow:hidden; font-weight: bold;}
.row_team li .nbox{  text-align: center; margin-top: 20px;}
.row_team .slick-track:after,.row_team li .nbox:after{visibility:hidden; display:block; content:""; clear:both} 
.row_team li .imgbox{ float: left; width:113px; padding: 10px 0; background:#034ea1 ; line-height:145px; text-align: center; position: relative;}
.row_team li .imgbox:after{ position: absolute; bottom:-32px; left: 0; content: ""; width: 0; height: 0;border-left:57px solid transparent;border-right: 56px solid transparent;border-top: 32px solid #034ea1;}
.row_team li .imgbox a{ display: block; width: 85px; height: 85px; text-align: center; line-height:76px; margin: 0 auto; border-radius:100%; -moz-border-radius: 100%;-webkit-border-radius:100%;-o-border-radius: 100%; overflow: hidden;text-align: center;background: #fff; border: 3px solid #fff;}
.row_team li .imgbox img{ width: 100%; height:100%;vertical-align: middle; display: inline-block; border-radius: 50%; object-fit: cover;}
.row_team li .text_p{  overflow: hidden; text-align: left; padding-left: 20px; font-size: 16px;}
.row_team li .text_p p{line-height: 25px; margin-top: 10px; color: #5f5e5e;}



/*底部信息*/
.footer{ width: 100%; background:#034ea1; padding: 30px 0; }
.footer p{color: #e5e5e5; line-height:35px; text-align: left; font-size:16px;padding: 0 20px;}
.foot_l{ float: left;}
.visit{ text-align: center; float: right; }
.visit p{width: 179px;height: 40px;line-height: 40px;border: 1px solid #fff;font-size:16px;text-align: center;margin: 10px 0;}
.visit span{ display: inline-block;  margin-top: 10px;border: 1px solid #fff; color: #fff;}
.visit span i{ display: inline-block; width: 26px; height: 24px; margin-right: 8px; background: url(../images/iconsn.png) no-repeat; vertical-align: middle;}
.visit span i.day{ background-position: -42px 0;}



/*内页banner*/
.sban{  position: relative; overflow: hidden; text-align: center; float: right; margin-bottom: -53px; margin-top: 60px; }
.sban img{ width: 813px; height: 286px;}
.sban .banimg2{ display: none;width: 100%;height: 100%;}
.head{ position: absolute; top: 0; left: 0; background: rgba(10, 19, 46, 0.8); width: 100%;}

/*当前位置*/
.site{ margin-top: 30px; background: #fafafa; padding:12px 15px; font-size: 16px; }
.site i{ width: 25px; height: 25px; display: inline-block; background: url(../images/posit.png) no-repeat; margin-right: 15px; vertical-align: middle;}
.site .dqlm{ float: left; font-size:24px ; background: url(../images/wzicon.png) no-repeat 0 center; padding-left:54px; color: #034ea1;}
.site .dqlm i{ display: inline-block; vertical-align:middle; width:38px; height:35px; margin-right: 10px;}
.site .position{float: right; font-size:14px ;}
.site .position i{ display: inline-block; width:10px; height: 3px; vertical-align: middle; background: #0669B2; margin-right: 10px;}
.site .position i{color: #2b458f;}




/*科研数据页面*/
.slideBox{ margin-bottom:50px;}
.slideBox .hd{ margin-top:30px; text-align:center;overflow-x: auto; overflow-y: hidden;white-space: nowrap;}
.slideBox .hd::-webkit-scrollbar {display:none}
.slideBox .hd li{ display:inline-block; padding:0 36px 0 10px;margin:0; font-size:18px; height:55px; line-height:55px;text-align:center; background:#e6e6e6; color:#333; cursor:pointer; position:relative}
.slideBox .hd li:before{ position: absolute; left: -20px; top: 0; content: ""; width: 0; height: 0; border-right: 20px solid #e6e6e6; border-top:27.5px solid transparent; border-bottom:27.5px solid transparent;}
.slideBox .hd li:after{ position: absolute; right: 0px; top: 0; content: ""; width: 0; height: 0; border-right:20px solid #fff; border-top:27.5px solid transparent; border-bottom:27.5px solid transparent;}
.slideBox .hd li:last-child:after{ border-right:0px solid #fff; border-left:20px solid #e6e6e6; right: -20px;}
.slideBox .hd li.on{ background:#034ea1; color:#fff; font-weight:bold}
.slideBox .hd li.on:before{  border-right: 20px solid #034ea1;}
.slideBox .hd li.on:last-child:after{ border-right:0px solid #fff; border-left:20px solid #034ea1; right: -20px;}
.slideBox .bd ul{ display:none}
.slideBox .bd{ border: 1px solid #d8d8d8; padding: 20px 30px; margin-top: -27.5px;}
.slideBox .bd li{ padding: 25px 0; border-bottom: 1px dashed #BBBBBB;}
.slideBox .bd li:last-child{ border-bottom: none;}
.slideBox .bd li h2{ background: url(../images/dataico.png) no-repeat left 6px; padding-left: 20px; font-size:16px; font-weight: bold;}
.leib{ margin-top: 17px;}
.leib .data_date{ float: right; font-size: 14px; line-height: 50px; color: #666666;}
.sys_name span{ display:inline-block;width: 40px; height: 40px; text-align: center; line-height: 40px; vertical-align: middle; margin-right: 5px;}
.sys_name span img{ width: 100%; height: 100%; border-radius: 50%; object-fit: cover;}




.teachbox{ margin-top:50px;}
.teachbox:after{visibility:hidden; display:block; content:""; clear:both}
.datalist{ width: 280px; float: left;}
.datalist a{ height: 60px; display: block; line-height: 60px; position: relative; background: #f5f5f5; margin-top: 1px; text-align: left; padding-left: 25px; color: #404040; font-size: 18px;}
.datalist a.cur{ background:#034ea1; font-weight: bold; color: #fff;}
.datalist a.cur i{ display: inline-block; position: absolute; right: 30px; top: 50%; width: 15px; height: 15px; background: url(../images/iconsn.png) -112px -7px no-repeat;}
.teach{ float: right; width:calc(100% - 310px);}
.teach_box .select_type { position: relative; margin-right: 20px; float: left; width: calc(33.333% - 20px); }
.teach_box .select_type .select_area {height:50px;line-height: 50px;padding: 0 40px 0 15px;background-color: #ffffff;border: solid 1px #e5e5e5;width:100%;position: relative;-webkit-box-sizing: border-box;box-sizing: border-box;box-sizing: border-box; border-radius: 25px; }
.teach_box .select_type .select_area .select_tit {color: #858585; font-size: 16px; }
.teach_box .select_type .select_area .select_list {list-style-type: none;margin: 0;display: none;background: #fff;position: absolute;z-index: 1;width:87%;left:20px;top:49px;border-left: solid 1px #e5e5e5;border-right: solid 1px #e5e5e5; }
.teach_box .select_type .select_area .select_list li {border-bottom: solid 1px #e5e5e5;line-height: 40px;padding: 0 10px; cursor: pointer; }
.teach_box .select_type .select_xl {width: 40px;height:50px;position: absolute;right: 0;top: 0; cursor: pointer;-webkit-box-sizing: border-box; box-sizing: border-box; }
.teach_box .select_type .select_xl.xl_open:before {border-bottom: 7px solid #595959;border-top: 0; }
.teach_box .select_type .select_xl.xl_open:after {border-bottom: 7px solid #fff;border-top: 0; top: 0px; bottom: -3px; }
.teach_box .select_type .select_xl:before {position: absolute;content: "";width: 0;height: 0;border-top: 7px solid #595959;border-left: 6px solid transparent;border-right: 6px solid transparent;top: 0;left: 0;right: 0;bottom: 0;margin: auto;border-bottom: 0; }
.teach_box .select_type .select_xl:after {position: absolute;content: "";width: 0;height: 0;border-top: 7px solid #fff;border-left: 6px solid transparent;border-right: 6px solid transparent;top: -5px;left: 0;right: 0;bottom: 0;margin: auto;border-bottom: 0; }
.teaching-sort {border-bottom: 1px solid #cacaca;padding: 8px 0; margin-top: 15px; }
.teaching-sort .select_type {position: relative;margin-right: 30px;  float: left;}
.teaching-sort .select_type .rank_title {height: 40px;line-height: 40px;float: left;  }
.teaching-sort .select_type .select_area {height: 40px;line-height: 40px; padding: 0 40px 0 15px;background-color: #ffffff;position: relative; float: left; }
.teaching-sort .select_type .select_area .select_tit {color: #858585; font-size: 16px; }
.teaching-sort .select_type .select_area .select_list {list-style-type: none;margin: 0;display: none; background: #fff;position: absolute;z-index: 1; width: 220px;border-left: solid 1px #e5e5e5;border-right: solid 1px #e5e5e5; border-top: solid 1px #e5e5e5; }
.teaching-sort .select_type .select_area .select_list li {border-bottom: solid 1px #e5e5e5;line-height: 40px;padding: 0 10px; }
.teaching-sort .select_type .select_xl {width: 40px;height: 40px; position: absolute;right: 0;top: 0;cursor: pointer;-webkit-box-sizing: border-box; box-sizing: border-box; }
.teaching-sort .select_type .select_xl.xl_open:before {border-bottom: 7px solid #595959;border-top: 0; }
.teaching-sort .select_type .select_xl.xl_open:after {border-bottom: 7px solid #fff;border-top: 0; bottom: -2px; top: 0; }
.teaching-sort .select_type .select_xl:before {position: absolute;content: "";width: 0;height: 0;border-top: 7px solid #595959;border-left: 6px solid transparent;border-right: 6px solid transparent;top: 0;left: 0;right: 0;bottom: 0;margin: auto;border-bottom: 0; }
.teaching-sort .select_type .select_xl:after {position: absolute;content: "";width: 0;height: 0;border-top: 7px solid #fff;border-left: 6px solid transparent;border-right: 6px solid transparent;top: -5px;left: 0;right: 0;bottom: 0;margin: auto;border-bottom: 0; }
.research_list li{ padding: 15px 0; border-bottom: 1px dashed #d8d8d8;}
.research_list li a{ font-size: 16px; font-weight: bold; line-height: 26px; background: url(../images/listiconb.png) no-repeat left 5px; padding-left: 20px;}
.research_list li a:hover{ color: #ca222a;font-weight: bold; }
.research_list li a i{ display: inline-block; width:6px;height:6px; margin-right: 10px; background: #034ea1;}
.research_list li .libo{ margin-top: 10px;}
.research_list li .libo:after{visibility:hidden; display:block; content:""; clear:both}
.research_list li .libo .teaher{ float: left; font-size: 14px; color: #787878; line-height: 30px; margin-left: 25px; }
.research_list li .libo .teaher span{ display: inline-block;  width: 30px; height: 30px; border-radius:30px;-moz-border-radius:30px;-webkit-border-radius:30px;-o-border-radius:30px; text-align: center; overflow: hidden; background: #b7b4b4; vertical-align: middle;margin-right: 10px;}
.research_list li .libo .teaher span img{ max-width: 100%; max-height:30px;vertical-align: middle;}
.research_list li .libo .date{ float: right; color: #787878; line-height:30px;}


/*团队检索*/
.search_box{margin-top: 30px;}
.sebox{padding:10px 15px; text-align: center; margin-top: 20px;}
.sebox .rank_title {margin-right: 30px;line-height: 45px;float: left; text-align: right;  font-size:16px; width: 120px;}
.sebox .select-type {position: relative;margin-top:15px; display: inline-block;  width:30%; }
.sebox .select-type:nth-child(2){ margin: 0 4%;}
.sebox .select-type .rank_title {margin-right: 0; }
.sebox .select-type .select_area {height:45px;line-height:45px;padding: 0 40px 0 15px;background-color: #ffffff; border: solid 1px #d8d9d9;position: relative;float: left; width:calc(100% - 120px); -webkit-box-sizing: border-box;box-sizing: border-box; text-align: left; }
.sebox .select-type .select_area.er_select_area {padding: 0; overflow: hidden;}
.sebox .select-type .select_area.er_select_area input{border: 0;height:45px;line-height:45px;box-shadow: none; width: 100%; padding: 0 10px;}
.sebox .select-type .select_area .select_list {list-style-type: none;margin: 0;display: none;background: #fff;position: absolute;z-index: 1; width:100%;border-left: solid 1px #e5e5e5; border-right: solid 1px #e5e5e5;-webkit-box-sizing: border-box; box-sizing: border-box;left: 0; }
.sebox .select-type .select_area .select_list li { border-bottom: solid 1px #e5e5e5;line-height: 45px; padding: 0 10px;  cursor: pointer;}
.sebox .select-type .select_xl {width: 40px; height: 43px;position: absolute; right:1px;top:1px;cursor: pointer;-webkit-box-sizing: border-box;box-sizing: border-box; background: #fff;}
.sebox .select-type .select_xl.xl_open:before {border-bottom: 7px solid #595959;border-top: 0; }
.sebox .select-type .select_xl.xl_open:after {border-bottom: 7px solid #f5f5f5;border-top: 0; top: 0; bottom: -2px; }
.sebox .select-type .select_xl:before {position: absolute;content: "";width: 0;height: 0;border-top: 7px solid #595959;border-left: 6px solid transparent;border-right: 6px solid transparent; top: 0;left: 0;right: 0;bottom: 0;margin: auto;border-bottom: 0; }
.sebox .butn{ clear: both; text-align:center; margin-top: 20px;}
.sebox .js-search-btn {height:45px;line-height:45px;background-color: #034ea1;color: #fff;padding: 0 30px;display: inline-block;  margin: 0 10px;  font-size: 16px; border-radius: 5px; }
.sebox .reset {height:45px;line-height:45px;background-color: #838383;color: #fff; display: inline-block; padding: 0 30px; margin: 0 10px; font-size: 16px; border-radius: 5px; }
.colunm{ font-size: 20px;}
.list{ overflow: hidden; padding-left: 30px;}
.list ul li{ border:1px solid #d8d9d9; padding:20px;margin-top:35px;}
.list ul li:after{visibility:hidden; display:block; content:""; clear:both}
.list ul li .sign{ float: left; width: 106px; height: 106px; border:8px solid #f5f5f5; background: #fff; text-align: center; line-height:87px; border-radius: 100%;}
.list ul li .sign img{ max-width:90px; max-height:90px; vertical-align: middle;}
.bt{ overflow: hidden; padding-left: 25px;}
.bt h2 { font-size: 20px; margin-top: 10px;}
.bt h2 a{ color: #034ea1;}
.bt .pbt{ margin-top: 20px;}
.bt .pbt span.fzr{ padding-left: 30px; background: url(../images/lead.png) no-repeat 0 0px; font-size: 16px; float: left;}
.bt .pbt span.cy{ padding-left: 30px; background: url(../images/me.png) no-repeat 0 0px; font-size: 16px; margin-left: 20%;float: left;}
.list ul li:hover{ background:url(../images/logobgtp.png) no-repeat right bottom #034ea1;}
.list ul li:hover h2 a{ color: #fff;}
.list ul li:hover span.fzr{ background-position: 0 -40px; color: #fff;}
.list ul li:hover span.cy{ background-position: 0 -48px; color: #fff;}

.aboutbox{ margin: 30px 0;}


/*检索结果页面*/
.result{}
.result li{ padding:15px 0; border-bottom: 1px dashed #dcdcdc;line-height: 30px; background: url(../images/listicon.png) no-repeat left 25px; padding-left: 23px;}
.result li:after{visibility:hidden; display:block; content:""; clear:both}
.result li a{ font-size: 15px; float: left; width:85%;}
.result li a:hover{color:#c8161e}
.result li a i{ display: inline-block; width: 7px; height: 7px; background: transparent; border: 1px solid #c8161e; border-radius: 7px;-moz-border-radius: 7px;-webkit-border-radius: 7px;-o-border-radius: 7px; margin-right: 8px;}
.result li .date{ float: right; font-size:14px; color: #838383;}
@media only screen and (max-width:1400px){
	.column_one .rank_index:first-child .rank{ width: 94%;}
	.column_one .rank_index .rank .by_rank{padding: 5px 11px;}
	.column_one .rank_index .rank{width: 91%;}
	.column_one .rank_index .select-type .select_area{ width:263px;}
	.column_one .rank_index .select-type .select_area.er_select_area{ width: 334px;}
}
@media only screen and (max-width:1300px){
	.logo_l{margin-top: 30px;margin-bottom: 30px;width: 45%;}
	.logo_l img{ width: 50%;}
	.logo_l span{ font-size: 23px;}
	.nav{ width: 55%;}
	.nav li{ font-size: 16px;}
	.nav li:nth-child(2),.nav li:nth-child(3){ width: 110px;}
	.nav li:nth-child(2).on:after,.nav li:nth-child(3).on:after{border-left:55px solid transparent;border-right: 55px solid transparent;}
}

@media only screen and (max-width:1199px){
	.logo_l{ width: 41%;}
	.nav li{ width: 88px;}
	.nav li:nth-child(2), .nav li:nth-child(3){ width: 102px;}
	.nav li.on:after{border-left:44px solid transparent;border-right: 44px solid transparent;bottom: -23px;border-top:23px solid #034ea1;}
	.nav li:nth-child(2).on:after,.nav li:nth-child(3).on:after{border-left:51px solid transparent;border-right: 51px solid transparent;}
	.mber a:nth-child(4){ display: none;}
	.conbox{ bottom: 55%;}
	.conbox .banner_txt .txt_c{padding: 3% 2%;}
	.banner_txt h1{ font-size:25px;}
	.banner_txt h2{ font-size: 30px; margin-top: 2%;}
	.slideTxtBox .hd li{ height: 130px;}
	.row_team li{ width: 47%;}
	.bt .pbt span{ float: none!important; margin-left: 0!important; display: block;}
	.bt .pbt span.cy{ margin-top: 10px;}
}
@media only screen and (max-width:1024px){
	.logo_l{ width: 80%; margin: 20px 0;}
	.logo_l span{ font-size: 27px;}
	.nav{ display: none;}
	.container{ padding-top: 60px;}
	.meun_icon{ display: block; float: right;margin-top:40px;}
    .link ul li:nth-child(4){ display: none;}
	.conbox{ display: none;}
	.banner,.banner_l{ float: none; width: 100%;}
	.selfteam a{ width: 95%;}
	.sebox .select-type{ width: auto; float: none; margin: 10px 0!important; display: block;}
}
@media only screen and (max-width:959px){
    .row_one .slick-list li .text_p{ font-size: 15px; padding-top: 0;}
	.nbox h2 a{padding:0}
	.sebox{ float: none; width: 100%;}
	.list{ padding-left: 0;}
	.colunm{ margin-top: 15px;}
}
@media only screen and (max-width:768px){
	.logo_l{width: 80%;}
	.logo_l img{ width: 46%;}
	.logo_l span{ font-size:22px;}
	.meun_icon{margin-top:30px;}
	.row_one{ margin-top: 7%; width: 100%;}
	.hotbox .slick-slide li{ width:calc(100% - 30px) !important;}
	.hotbox .tit{margin:20px 0 }
	.recomlist .slick-list li{ width: 100% !important;}
	.recomlist .slick-list li:hover{border-bottom: 0;}
	.slick-dots li,.row_one .slick-dots li{ width: 20px;}
	.row_one .slick-dots li.slick-active,.slick-dots li.slick-active{width: 25px;}
	.tit h1:before{width: 100px; left: -125px;}
	.tit h1:after{width: 100px; right: -125px;}
	.main .title li{ font-size: 26px;}
	.hotlist .slick-slide .more{ position: relative; bottom: 0; margin-top: 15px;}
	.teamlist h2 a{ padding: 0; font-size: 16px;}
	.tdimg{ float: none; text-align: center; margin: 0 auto; width: 160px; height: 160px; line-height: 160px;}
	.tdimg img{ width: 150px; height: 150px;}
	.name_t{ float: none; width:auto; margin-left: 0; margin-top: 25px;}
	.name_t h1{text-align: center;display: block;}
	.name_t p{ text-align: left;}
	.hotlist .slick-dots{ bottom: 0;}
	.hotlist .slick-dots li{ margin: 0 5px;}
	.slideTxtBox .hd li{ font-size: 18px;}
	.footer{ background-size: 90%;}
	.footer p{ text-align: center; float: none;}
	.visit p{margin: 0 auto 15px auto;}
	.foot_l,.visit{ float: none;}
	.result li .date{ float: left;}
	.slideTxtBox .hd li{ font-size: 20px;    width: calc(50% - 30px);margin-bottom: 50px; height: auto;}
	.slideTxtBox .hd li.on:after{ display: none;}
	.slideTxtBox .bd{ margin-top: 0;}
    .row_team li{ width:100%; margin: 10px 0;}
	.row_team li h2{ overflow:initial; word-break: break-word;white-space: normal;*white-space: normal;}
}
@media only screen and (max-width:639px){
	.sban_index{ padding: 80px 0;}
	.logo_l{ width:92%}
	.logo_l span{ font-size:19px;}
	.headr ul li{ font-size: 16px;}
	.headr ul li.sign img{ width: 14px;}
	.link ul li{ padding: 0 2%; font-size: 14px;}
	.search{ width:95%; height: 65px;}
	.search .ss,.search .ssbtn{ height: 55px; line-height: 55px;}
	.row_one h2{ line-height:30px; padding: 10px 0; font-size: 18px;}
	.row_one{margin-top: 50px;}
	.recomlist ul.listleft .slick-arrow{top: -67px; }
	.recomlist ul.listleft .slick-next{left: 90px;}
	.recomlist .slick-arrow.slick-prev{left: 20px;}
	.recomlist ul.listleft{ width: 100%;}
	.recomlist .slick-list .slick-slide{margin: 20px 0 0 0;}
	.row_th .tit{ font-size: 26px;}
	.footer p{ font-size: 16px;padding:0 20px;}
	.tit h1{ font-size:32px;}
	.row_th{ padding-top: 25px;}
	.latest{ margin-top: 18px;}
	.latest .slick-slide h3{ font-size: 17px;}
	.slick-dots{ margin-top: 0;}
	.recomlist ul.listleft{ margin-top: 0;}
	.main .title{ overflow-x: auto;white-space: nowrap;}
	.main .title::-webkit-scrollbar {display:none}
	.leib .data_date{ float: none;}
}
@media only screen and (max-width:414px){
	.sban_index{ padding: 60px 0;}
	.headr ul li{padding: 0 14px;}
	.logo_l{ width: 90%;}
	.logo_l img{width: 89%;}
	.logo_l i{ display: none;}
	.meun_icon img{ width: 25px; height: 25px;}
	.logo_l span{ font-size: 22px;text-align: center;display: block;}
	.tit h1{ font-size:28px;}
	.row_one .slick-list li{ margin: 0 5px;}
	.row_one p{ font-size: 14px;    margin-top: 15px;}
	.latest .slick-slide{margin-right: 0;}
	.name_t{ padding: 0;}
	.hotlist .slick-slide .more{ left: 0;}
	.recomlist .jgname .date{ display: none;}
	.banner .ban{ width: 100%;height: auto; margin: 0;}
	.banner{ background-size: 96%;}
	.banner_l{padding: 0 2%;}
	.recomlist{ margin-top:15px;}
	.recomlist .slick-dots{ margin-top: 20px;}
	.recomlist .slick-list li{ padding:20px 0;}
	.recomlist p{font-size: 16px; margin-top: 0;}
    .mber a{margin: 0 6px;}
	.slideTxtBox .hd li{ height: 120px;}
	.Scientific{ padding-bottom: 0;}
	.row_team li .text_p{ padding-top: 0;}
	.list ul li .sign{float: none;margin: 0 auto;}
	.sebox .rank_title{ width: 102px; font-size: 14px;}
	.sebox .select-type .select_area{width: calc(100% - 102px);
}
@media only screen and (max-width:375px){
	.link ul li{ padding: 0;}
	.tit h1:before{width: 76px;left: -89px;}
	.tit h1:after{width: 76px;right: -89px;}
	.mber a{ margin: 0;}
}
@media only screen and (max-width:320px){
	.number p{ font-size: 28px;}
	.openbox h1{ font-size: 21px;}
	.word_finder .word_title{    background: url(../images/zmjs.png) no-repeat left 10px;}
	.hotbox .slick-slide li{padding: 30px 10px; margin: 10px;width:calc(100% - 20px) !important;}
	.name_t h1{ font-size: 16px;}
	.recomlist h2 a{ font-size: 16px;}
	.recomlist p{ font-size: 14px;}
	.latest .slick-slide p.month{font-size:20px}
	.slideTxtBox .hd li{ font-size:20px}
	.slideTxtBox .hd li{ height: 100px;}
}







