* {
	WORD-BREAK: break-all; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}

BODY {
	FONT-SIZE: 12px; FONT-FAMILY: 
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: 
}
TH {
	FONT-SIZE: 12px; FONT-FAMILY: 
}
BODY {
	MARGIN: 0px
}
IMG {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
FORM {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
LI {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
.left {
	FLOAT: left; DISPLAY: inline
}
.rihgt {
	FLOAT: right
}
.clear {
	CLEAR: both
}
A {
	COLOR: #3d3d3d; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
.cellspancing {
	MARGIN: 8px 0px 0px;
}
#wrapper {
	BACKGROUND: url(../img/index_01.gif) repeat-x; MARGIN: 0px auto; WIDTH: 1000px
}
#head {
	COLOR: #aecfe9; MARGIN: 10px 10px 0px 0px
}
#head .font {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
#head A {
	COLOR: #aecfe9; TEXT-DECORATION: none
}
#head A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
#menu {
	FONT-SIZE: 12px; HEIGHT: 35px; FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-ALIGN: center
}
#menu A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#menu A:hover {
	COLOR: #a6e3e6; TEXT-DECORATION: none
}
#login .title {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-TOP: 2px; PADDING-LEFT: 30px
}
.logincontent {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.font {
	FONT-WEIGHT: bold; COLOR: #ffffff
}
#login A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#login A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
.hot_links {
	width: 192px;
	float:left;
}
.hot_links ul .title {
	BACKGROUND: #e6f7fa url(../img/index_17.gif) no-repeat 0px 0px;
	height: 20px;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	COLOR: #1256a3;
	padding: 8px 0 0 35px;
}
.hot_links ul .content {
	LIST-STYLE-TYPE: none;
	BACKGROUND: #e6f7fa url(../img/index_18.gif) no-repeat 17px 11px;
	COLOR: #333333; TEXT-ALIGN: left;
	padding: 2px 0 0 35px;
	LINE-HEIGHT: 23px
}
#tongzhi {
	display:block;
	width: 192px;
}
#intro ul .title {
	BACKGROUND: #e6f7fa url(../img/index_15.gif) no-repeat 0px 0px;
	padding: 10px 0 0 35px;
}
#intro ul .content {
	LIST-STYLE-TYPE: none;
	BACKGROUND: #e6f7fa url(../img/index_18.gif) no-repeat 17px 11px;
	COLOR: #333333; TEXT-ALIGN: left;
	padding: 2px 5px 0 30px;
	LINE-HEIGHT: 23px
}
#newgg_mygrid_indexgg .content UL {
	LIST-STYLE-TYPE: none; PADDING-TOP: 2px; PADDING-LEFT: 15px; PADDING-RIGHT: 10px; border-width: 0px;
}
#newgg_mygrid_indexgg td{
	border-bottom-width:0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
}
#newgg_mygrid_indexgg .content UL LI {
	BACKGROUND: url(../img/index_18.gif) no-repeat 0px 8px; border-width: 0px; COLOR: #333333; TEXT-ALIGN: left; PADDING-LEFT: 15px; LINE-HEIGHT: 23px
}
#newgg_mygrid_indexgg .content UL LI UL {
	LIST-STYLE-TYPE: none; FONT-WEIGHT: 100; PADDING-BOTTOM: 2px; border-width: 0px; PADDING-TOP: 2px; PADDING-LEFT: 15px; PADDING-RIGHT: 0px
}
#newgg_mygrid_indexgg .content UL LI UL LI {
	FONT-WEIGHT: 100; COLOR: #333333; TEXT-ALIGN: left; PADDING-LEFT: 15px; border-width: 0px; LINE-HEIGHT: 23px;
}
#link .title {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #1256a3; PADDING-TOP: 3px; PADDING-LEFT: 35px
}
#link .content UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#link .content UL LI {
	BACKGROUND: url(../img/index_19.gif) no-repeat 0px 8px; COLOR: #333333; TEXT-ALIGN: left; PADDING-LEFT: 15px; LINE-HEIGHT: 23px
}
#gg UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#gg UL LI {
	COLOR: #ffffff; TEXT-ALIGN: left; PADDING-LEFT: 15px; LINE-HEIGHT: 23px
}
#gg UL LI A {
	COLOR: #ffffff; TEXT-DECORATION: none
}
#gg UL LI A:hover {
	COLOR: #ffffff; TEXT-DECORATION: underline
}
#zt .title {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #ffffff; PADDING-LEFT: 25px
}
#zt .content UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 3px; PADDING-TOP: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px
}
#zt .content UL LI {
	BACKGROUND: url(../img/index_19.gif) no-repeat 0px 8px; COLOR: #333333; TEXT-ALIGN: left; PADDING-LEFT: 15px; LINE-HEIGHT: 23px
}
#zt .tdcontent {
	PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#zt .img {
	MARGIN-BOTTOM: 8px; BORDER-TOP: #ececec 1px solid; BORDER-RIGHT: #ececec 1px solid; BORDER-BOTTOM: #ececec 1px solid; BORDER-LEFT: #ececec 1px solid
}
.news {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
#newcontent {
	
}
#newcontent UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
#newcontent UL LI {
	BACKGROUND: url(../img/index_26.gif) no-repeat 0px 8px; BORDER-BOTTOM: #a9a9a9 1px dashed; COLOR: #333333; TEXT-ALIGN: left; PADDING-LEFT: 15px; LINE-HEIGHT: 25px
}
#newcontent .time {
	FLOAT: right; COLOR: #8e8e8e; MARGIN-RIGHT: 5px
}
#kxdt .title {
	FONT-SIZE: 12px; FONT-WEIGHT: bold; COLOR: #3379a3; PADDING-TOP: 3px; PADDING-LEFT: 25px
}
#kxdt .more {
	FLOAT: right; MARGIN-RIGHT: 10px
}
#kxdt UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
#kxdt UL LI {
	BACKGROUND: url(../img/index_19.gif) no-repeat 0px 8px; COLOR: #333333; TEXT-ALIGN: left; PADDING-LEFT: 15px; LINE-HEIGHT: 23px;
}
#kxdt .time {
	FLOAT: right; COLOR: #8e8e8e; MARGIN-RIGHT: 5px
}
#kxdt .content {
	BORDER-TOP: #efefef 1px solid; BORDER-RIGHT: #efefef 1px solid; BACKGROUND: #f6f6f6; BORDER-BOTTOM: #efefef 1px solid; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; BORDER-LEFT: #efefef 1px solid; PADDING-RIGHT: 10px
}
.wz {
	HEIGHT: 26px; BACKGROUND: url(../img/index_29.gif); COLOR: #333333; TEXT-ALIGN: left; PADDING-LEFT: 10px; MARGIN-TOP: 8px; LINE-HEIGHT: 26px; WIDTH: 715px;
}
.wz A {
	COLOR: #333333; TEXT-DECORATION: none;
}
.wz A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none;
}
#content {
	BORDER-BOTTOM: #d1d1d1 1px dashed; COLOR: #888888
}
#content A {
	COLOR: #888888; TEXT-DECORATION: none
}
#content A:hover {
	COLOR: #ff0000; TEXT-DECORATION: none
}
.cc {
	FONT-SIZE: 14px; COLOR: #424242; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; LINE-HEIGHT: 22px; PADDING-RIGHT: 10px;
}
.cc IMG {
	MARGIN: 20px 60px
}
#ejtitle {
	FONT-SIZE: 14px; FONT-WEIGHT: bold; COLOR: #ffffff; TEXT-ALIGN: left; PADDING-LEFT: 35px; LINE-HEIGHT: 20px;
	background-image:url(../img/index_30.gif);
	background-repeat:no-repeat;
	margin-top:10px;
	margin-left:25px;
}
#ejtitle .more {
	FLOAT: right; MARGIN: 5px 10px 0px 0px
}
.page UL {
	LIST-STYLE-TYPE: none
}
.page UL LI {
	BORDER-BOTTOM: #a5a5a5 1px dashed; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.page UL LI H4 {
	COLOR: #333333; LINE-HEIGHT: 22px
}
.page UL LI .content {
	COLOR: #666666; LINE-HEIGHT: 20px
}
.page2 UL {
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px
}
.page2 UL LI {
	BACKGROUND: url(../img/index_19.gif) no-repeat 5px 10px; BORDER-BOTTOM: #9f9f9f 1px dashed; COLOR: #4e4e4e; PADDING-LEFT: 20px; LINE-HEIGHT: 25px
}
.page2 .time {
	FLOAT: right; COLOR: #8e8e8e; MARGIN-RIGHT: 5px
}
#content_top{
	margin-top:5px;
}
#content_bottom{
	margin-bottom:5px;
}
#main_content{
	background-image:url(../img/index_09.gif);
	background-repeat:repeat-y;
	width: 95%;
	margin-top: 0px;
	margin-right: 2.5%;
	margin-bottom: 0px;
	margin-left: 2.5%;
}
#left_content{
	margin-left:8px;
	width: 192px;
	float:left;
	overflow:hidden;
}
#right_content{
	margin-right:5px;
	width: 728px;
	float: right;
	overflow:hidden;
}
#main_content .clear{
	visibility:hidden;
	clear: both;
}
#right_content ul.news_title{
	position:relative;
	float:left;
	width:728px;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bold;
	COLOR: #1256a3;
	margin-top:8px;
	BACKGROUND: url(../img/index_28_r.gif) repeat-x 0px 0px;
}
#right_content ul.news_title li.more{
	clear: right;
	float: right;
}
#right_content ul.news_title li.more img{
	border:0px;
	padding: 10px 20px;
}
#right_content ul.news_title li.title{
	width:150px;
	height:31px;
	padding-left:30px;
	padding-top:10px;
	BACKGROUND: url(../img/index_28.gif) no-repeat 0px 0px;
	clear: left;
	float: left;
}
#img_news{
	width:300px;
	float:left;
	clear:left;
}
#img_news a{
	display:block;
	margin-top:8px;
	width:100%;
	text-align: center;
}
.news_list{
	width:700px;
	float:left;
	LIST-STYLE-TYPE: none; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px;
}
.news_list td{ //消除边框;
	border-bottom-width:0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	LINE-HEIGHT: 25px;
}
.news_list li{
	position:relative;
	float:left;
	width:90%;
	BACKGROUND: url(../img/index_19.gif) no-repeat 0px 18px;
	BORDER-BOTTOM: #a9a9a9 1px dashed;
	COLOR: #333333;
	TEXT-ALIGN: left;
	margin-left:5%;
	margin-right:5%;
	PADDING-LEFT: 15px;
	padding-right:0px;
	PADDING-TOP: 10px;
	LINE-HEIGHT: 25px;
	clear:none;
}
.news_list li a{
	float:left;
	LINE-HEIGHT: 25px;
}
.news_list li .time{
	COLOR: #8e8e8e;
	float:right;
}
.notice_title{
	font-family: "宋体";
	font-size: 18px;
	font-weight: bold;
	line-height: 25px;
	text-align: center;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 5px;
}
.notice_time{
	font-family: "宋体";
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	width: 100%;
	margin-bottom: 5px;
	color: #666666;
}
.notice_content p{
	font-family: "宋体";
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	width: 90%;
	margin-top: 5px;
	margin-bottom: 0px;
	color: #000000;
	margin-right: 5%;
	margin-left: 5%;
	text-indent: 2em;
	text-align:justify;
}
.notice_content h3{
  margin-top:10px;
  margin-right: 5%;
  margin-left: 3%;
  width:92%;
}

.notice_content p.text_title{
	text-indent: 0em;
}
.notice_content p.text_bottom{
	text-indent: 0em;
	text-align: center;
	margin-top: 30px;
	width: 50%;
	margin-left: 50%;
}

.notice_content table{
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	
}
.notice_content table p{
	width: 96%;
	margin-right: 2%;
	margin-left: 2%;
	text-indent: 0em;
}
.notice_content img.img_2d{
	padding:0.8%;
	width: 20%;
	margin-top: 5px;
	margin-bottom: 15px;
	color: #000000;
	margin-right: 0.2%;
	margin-left: 9.2%;
	border: 1px solid #a9a9a9;
}
.notice_content img{
	padding:0.8%;
	width: 80%;
	margin-top: 10px;
	margin-bottom: 15px;
	color: #000000;
	margin-right: 9.2%;
	margin-left: 9.2%;
	border: 1px solid #a9a9a9;
}
#exhibition img{
	float:left;
	padding-left: 10px;
	padding-top: 5px;
}
#exhibition p{
	float:left;
	font-family: "新宋体";
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	width: 100%;
	text-align: center;
}
#exhibition li{
	width:40%;
	float:left;
	margin-top: 15px;
	BORDER-BOTTOM: #a9a9a9 1px dashed;
	padding-bottom: 2px;
	text-align: center;
	padding-right: 5%;
	padding-left: 5%;
}
#text img{
	float:left;
	padding-left: 10px;
	padding-top: 5px;
	width: 90%;
}
#text p{
	float:left;
	font-family: "新宋体";
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	width: 100%;
	text-align: center;
}
#text li{
	width:100%;
	float:left;
	margin-top: 15px;
	BORDER-BOTTOM: #a9a9a9 1px dashed;
	padding-bottom: 2px;
	text-align: center;
	padding-right: 5%;
	padding-left: 5%;
}

#text_table tr.odd td {
	background-color: #D7D7D7
}
#text_table tr.highlight td{
	background-color: #49A3FF;
	color: #FFFFFF;
}
#text_table tr.table_bottom{
	height:25px;
	vertical-align:bottom;	
}
#text_table tr.table_bottom a:hover{
	text-decoration:underline;
	font-size:20px;
	color:#ff6600;
}
#staff img{
	float:left;
	padding-top: 5px;
	height: 156px;
	width: 100%;
}
#staff p{
	float:left;
	font-family: "新宋体";
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
	height: 18px;
	width: 100%;
	text-align: center;
}
#staff li{
	width:15%;
	float:left;
	margin-top: 0px;
	padding-bottom: 10px;
	text-align: center;
	margin-right: 2.5%;
	margin-left: 2.5%;
}
#show_staff #headshot{
	padding-top: 5px;
	width: 25%;
	padding:0.8%;
	margin-top: 10px;
	margin-bottom: 15px;
	color: #000000;
	margin-right: 36.7%;
	margin-left: 36.7%;
	border: 1px solid #a9a9a9;
}
#show_staff .notice_content li{
	font-size:14px;
	line-height: 1.5;
}
#show_staff .sy_class_name{
	font-family: "宋体";
	font-size: 12px;
	width: 100%;
	margin-bottom: 5px;
	color: #666666;
	text-align: right;
}
#show_staff .notice_content h2{
	background-image: url(../img/rcbg.jpg);
	background-repeat: no-repeat;
	color: #FFFFFF;
	padding-left: 5px;
	font-size: 16px;
	line-height: 30px;
}
#staff .class_title{
	FONT-SIZE: 14px;
	FONT-WEIGHT: bold;
	COLOR: #ffffff;
	TEXT-ALIGN: left;
	PADDING-LEFT: 35px;
	LINE-HEIGHT: 20px;
	background-image:url(../img/index_30.gif);
	background-repeat:no-repeat;
	margin-top:15px;
	margin-left:25px;
}
p.figure_caption{
	font-weight: bold;
	text-align: center;
	text-indent: 0px;
	margin-top: -5px;
	margin-bottom: 15px;
	font-size: 16px;
}
#myLJ_video_jinsai tr td{
	line-height:30px;
	padding-left: 5px;
}