html{ overflow-x:hidden}
body {font-family:"MicroSoft Yahei",Arial;font-size:14px;line-height:22px;color:#222;}
* {margin:0px;padding:0px;}
a {color:#444;text-decoration:none;}
img {border-top-style:none;border-right-style:none;border-bottom-style:none;border-left-style:none;}
li {list-style-type:none;}
@font-face {font-family:'iconfont';src:url('../font/iconfont.eot');src:url('../font/iconfont.eot?#iefix') format('embedded-opentype'),url('../font/iconfont.woff2') format('woff2'),url('../font/iconfont.woff') format('woff'),url('../font/iconfont.ttf') format('truetype'),url('../font/iconfont.svg#iconfont') format('svg');}
.iconfont {font-family:"iconfont" !important;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.clear:after {display:block;clear:both;content:"";visibility:hidden;height:0}
.clear {zoom:1}
.infotitle {font-size:24px;line-height:55px;font-weight:normal;text-align:center;}
.infopost {text-align:center;color:#666;margin-bottom:10px;font-size:14px;}
.infopost span {padding-right:8px;padding-left:8px;}
.infopost .iconfont {font-size:18px;}
.infopic {text-align:center;margin-bottom:10px;}
.infopic img {padding:4px;border:1px solid #ededed;}
.infodetail {font-size:16px;line-height:200%;color:#444;padding:3% 0%;}
.infodetail img {max-width:100%;margin:auto;}
.wp_entry {font-size:16px;line-height:28px;padding:3% 0%;}
.wp_entry p {margin-bottom:10px;}
.wp_entry img {max-width:100%;margin:auto;}
.infopage {margin-top:10px;padding-top:10px;border-top-width:1px;border-top-style:solid;border-top-color:#ededed;padding-right:10px;padding-left:10px;font-size:12px;}
.addtime {float:right;color:#666;padding-right:10px;font-size:12px;}
/*主导航菜单*/
.nav {height:60px;line-height:60px;position:relative;z-index:1;}
.nav a {color:#fff;}
.nav .nLi {float:left;position:relative;display:inline;/*background-image:url("../images/nav_line.jpg");*/background-repeat:no-repeat;background-position:right center;width:119px;padding-right:1px;}
.nav .nLi:last-child {background-image:none;}
.nav .nLi h3 {float:left;}
.nav .nLi h3 a {display:block;width:119px;font-size:16px;font-weight:bold;text-align:center;}
.nav .sub {display:none;width:120px;left:0;top:60px;position:absolute;background:#003876;line-height:40px;font-size:15px}
.nav .nLi:nth-child(5) .sub{width: 180px;left: -30px;}
.nav .sub li {zoom:1;}
.nav .sub a {display:block;text-align:center;color:#fff;}
.nav .sub a:hover {background:#034ea1;color:#fff;}
.nav .on h3 a,.nav .selected h3 a {background:#003876;color:#fff;}
/* 幻灯片 CSS */
.fullSlide {width:100%;position:relative;height:500px;}
.fullSlide .bd {margin:0 auto;position:relative;z-index:0;overflow:hidden;}
.fullSlide .bd ul {width:100% !important;}
.fullSlide .bd li {width:100% !important;height:500px;overflow:hidden;text-align:center;}
.fullSlide .bd li img{height:550px;width: 100%;object-fit:cover;}
.fullSlide .bd li a {display:block;height:500px;}
.fullSlide .hd {width:100%;position:absolute;z-index:1;bottom:30px;left:0;height:30px;line-height:30px;}
.fullSlide .hd ul {text-align:center;}
.fullSlide .hd ul li {cursor:pointer;display:inline-block;*display:inline;zoom:1;width:42px;height:8px;margin:10px;overflow:hidden;background:#034ea1;filter:alpha(opacity=50);opacity:0.9;line-height:999px;}
.fullSlide .hd ul .on {background:#fff;}
.fullSlide .prev,.fullSlide .next {display:block;position:absolute;z-index:1;top:50%;margin-top:-30px;left:5%;z-index:1;width:40px;height:60px;background:url(../images/slider-arrow.png) -126px -137px #000 no-repeat;cursor:pointer;filter:alpha(opacity=50);opacity:0.5;display:none;}
.fullSlide .next {left:auto;right:5%;background-position:-6px -137px;}
/*表单*/
.input_style_a {height:32px;line-height:32px;border-radius:5px;border:1px solid #ccc;padding-left:10px;margin:5px 0;}
.input_style_btn {width:200px;height:36px;background:#f60;font-size:16px;color:#FFFFFF;text-align:center;line-height:35px;border:0;margin:3px auto;cursor:pointer;}
.possplit {background-image:url(../images/posSplit.gif);background-repeat:no-repeat;background-position:left center;text-indent:22px;background-position:center;width:20px;display:inline-block;border:0px solid red;}
/* 内页大图点击预览处理 */
.xubox_bigimg img {position:absolute;display:block;height:auto !important;left:0px !important;top:56px !important;visibility:hidden;}