@charset "utf-8";.sbg {background-color:#e2eaf3;}
.nav_wap,.black-fixed,.header_wap,.sbanner_wap {display:none;}
.wid {width:1200px;margin-right:auto;margin-left:auto;}
.swid {width:1200px;padding:35px;margin-right:auto;margin-left:auto;}
.head {height:140px;background-image:url(../images/head_bg.jpg);background-repeat:repeat-x;background-position:center top;border-bottom:solid 1px #005fc8;}
.head .wid {display:flex;justify-content:space-between;}
.head .wid .logo {width:820px;padding-top:35px;}
.head .wid .logo img {width:100%;}
.head .wid .search {width:250px;padding-top:60px;}
.head .wid .search form {background-color:rgba(255,255,255,0.7);border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;-ms-border-radius:5px;-o-border-radius:5px;height:35px;display:flex;justify-content:space-between;}
.head .wid .search form input {width:180px;border:none;background-color:transparent;color:#fff;padding-left:10px;font-size:14px}
.head .wid .search form button {width:70px;line-height:35px;text-align:center;background-color:#034ea1;color:#fff;font-size:15px;border:none;cursor:pointer;}
.navbar {height:60px;background-color:#034ea1;}
.navbar_fixed {position:fixed;padding:0;top:0;left:0;_position:absolute;animation:hdnav2-show .3s;-moz-animation:hdnav2-show .3s;-webkit-animation:hdnav2-show .3s;-moz-box-shadow:0 5px 10px rgba(0,0,0,.2);-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);width:100%;z-index:9999;}
.banner {margin-bottom:50px;}
.main {margin-bottom:35px;}
.main .cona {display:flex;justify-content:space-between;margin-bottom:50px;}
.main .cona .slider {width:580px;position:relative;min-height:350px;overflow:hidden;}
.main .cona .slider .swiper-title {position:absolute;bottom:0;left:0;right:0;background:rgba(0,0,0,.7);z-index:9;}
.main .cona .slider .text {position:relative;width:78%;padding:15px 0 15px 20px;}
.main .cona .slider .swiper-title .swiper-pagination {display:block !important;top:50%;right:20px;transform:translateY(-50%);}
.main .cona .slider .text a {display:block;color:#fff;font-size:16px;width:85%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.main .cona .slider .swiper-slide img {width:580px;height:385px;transition:all .3s;}
/*.main .cona .slider .swiper-/slide img:hover {transform:scale(1.2);}*/
.main .cona .slider .swiper-slide a {display:block;overflow:hidden;}
.main .cona .slider .text .pag {background:rgba(255,255,255,.3);}
.main .cona .slider .text .pag-active {border:2px solid rgba(0,0,0,0);background:#e7ab54;}
.navigation {height:1px;width:100%;position:absolute;left:50%;top:50%;transform:translate(-50%,-50%);z-index:9;display:flex;justify-content:space-between;align-items:center;}
.prev,.next {width:80px;height:80px;border-radius:10px;display:flex;justify-content:center;align-items:center;cursor:pointer;transition:all .3s;opacity:.5;}
.prev:hover,.next:hover {opacity:1;}
.navigation div i {width:32px;height:57px;background:url(../images/arr.png) center no-repeat;background-size:cover;}
.prev i {transform:rotate(180deg);}
.pag {display:inline-block;margin-right:10px;width:15px;height:5px;background:rgba(255,255,255,.9);text-indent:-9999px;outline:0;/* box-shadow:0 0 5px #333;-moz-box-shadow:0 0 5px #333;-webkit-box-shadow:0 0 5px #333;*/   cursor:pointer;transition:all .3s;}
.pag:hover {background:#004d96;}
.pag-active {background:#004d96;}
.swiper-pagination {text-align:center !important;}
.main .cona .news {width:580px;}
.main .tit {border-bottom:solid 1px #034ea1;padding-bottom:15px;margin-bottom:35px;}
.main .tit i {display:inline-block;width:5px;height:30px;background-color:#034ea1;margin-right:10px;float:left;}
.main .tit h2 {font-size:20px;color:#034ea1;font-weight:normal;line-height:30px;}
.main .tit .more {float:right;padding-top:0px;}
.main .tit .more a {font-size:13px;display:inline-block;background-color:#034ea1;padding:4px 12px;color:#fff;}
.main .tit h2 span:last-child {font-size:15px;text-transform:uppercase;color:#666;line-height:20px;padding-left:5px;}
.main .cona .news .con h1 {font-size:18px;line-height:35px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;margin-top:15px;border-top:dashed 1px #ccc;}
.main .cona .news .con a:first-child h1 {border:none;}
.main .cona .news .con p {font-size:15px;color:#666;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;margin-bottom:15px;line-height:160%;}
.main .cona .news .con a:hover h1 {color:#034ea1;}
.main .cona .news .con a:hover p {text-decoration:underline;}
.main .cona .news .con ul {margin-top:15px;padding-top:10px;}
.main .cona .news .con ul li {font-size:16px;line-height:40px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background:url(../images/sanjiao.png) 1px no-repeat;padding-left:16px}
.main .cona .news .con ul li i {font-size:18px;color:#034ea1;}
.main .cona .news .con ul li a:hover {text-decoration:underline;color:#034ea1;}
.main .cona .news .con ul li span {float:right;color:#666;}
.main .conb {background-image:url(../images/indexbg02.png);/*background-repeat:no-repeat*/background-size:cover;background-position:center center;padding:35px 0;margin-bottom:50px;}
.main .conb .wid {display:flex;justify-content:space-between;}
.main .conb .wid .teaching,.main .conb .wid .notice {width:580px;}
.main .conb .wid .top {display:flex;justify-content:space-between;margin-bottom:15px;}
.main .conb .wid .top .img {width:190px;height:120px;}
.main .conb .wid .top .img img {width:100%;height:120px;object-fit:cover;}
.main .conb .wid .top .txt {width:375px;}
.main .conb .wid .top .txt h1 {font-size:18px;line-height:35px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.main .conb .wid .top .txt p {font-size:15px;color:#666;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;overflow:hidden;line-height:160%}
.main .conb .wid .top .txt a:hover h1 {color:#034ea1;}
.main .conb .wid .top .txt a:hover p {text-decoration:underline;}
.main .conb .wid .con {border-top:dashed 1px #ccc;margin-top:15px;padding-top:10px;}
.main .conb .wid .con ul li {font-size:16px;line-height:40px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;background:url(../images/sanjiao.png) 1px no-repeat;padding-left:16px}
.main .conb .wid .con ul li i {font-size:18px;color:#034ea1;}
.main .conb .wid .con ul li span {float:right;color:#666;}
.main .conb .wid .con ul li a:hover {text-decoration:underline;color:#034ea1;}
.titbg {background-color:#eeeeff;padding:10px 10px 0 10px;}
.main .conc .con ul {display:flex;justify-content:space-between;flex-wrap:wrap;}
.main .conc .con ul li {width:344px;padding:20px;margin-bottom:20px;background-color:#034ea1;color:#fff;}
.main .conc .con ul li a {color:#fff;}
.main .conc .con ul li:nth-child(2n) {background-color:#eeeeff;color:#333;transition:.4s;}
.main .conc .con ul li:nth-child(2n) a {color:#333;}
.main .conc .con ul li h2 {font-size:20px;margin-bottom:10px;font-weight:normal;}
.main .conc .con ul li p {font-size:15px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;margin-bottom:12px;}
.main .conc .con ul li span {display:block;text-align:right;}
.main .conc .con ul li:nth-child(2n) h2 {color:#034ea1;}
.main .conc .con ul li:nth-child(2n):hover {background-color:#034ea1;color:#fff;transition:.4s;}
.main .conc .con ul li:nth-child(2n):hover a {color:#fff;}
.main .conc .con ul li:nth-child(2n):hover h2 {color:#fff;}
.sbanner {height:330px;background-repeat:no-repeat;background-position:center top;margin-bottom:40px;}
.smain {display:flex;justify-content:space-between;margin-bottom:50px;background-color:#fff;}
.smain .l {width:250px;}
.smain .l .tit {background-color:#00428c;background-image:url("../images/smain_tit_bg.jpg");background-position:right top;background-repeat:no-repeat;color:#fff;height:117px;line-height:117px;font-size:26px;padding-left:30px;}
.smain .l .con {background-color:#00428c;padding:6px;}
.smain .l .con ul {background-color:#fff;padding:15px;}
.smain .l .con ul li {border-bottom:solid 1px #ccc;}
.smain .l .con ul li:last-child {border:none;}
.smain .l .con ul li a {display:block;font-size:18px;height:50px;line-height:50px;padding-left:20px;display:flex;justify-content:space-between;}
.smain .l .con ul li a.active,.smain .l .con ul li a.selected {background-color:#034ea1;color:#fff;}
.smain .l .con ul li a i {padding-right:20px;transition:.4s;}
.smain .l .con ul li a:hover {font-weight:bold;color:#034ea1;}
.smain .l .con ul li a.active:hover {color:#fff;}
.smain .l .con ul li a:hover i {padding-right:5px;transition:.4s;}
.smain .r {width:890px;}
.smain .r .tit {padding:15px 0px 0px 0px;border-bottom:solid 1px #ccc;height:50px;margin-bottom:15px;}
.smain .r .tit h3 {float:left;font-size:26px;font-weight:normal;padding-bottom:20px;border-bottom:solid 3px #034ea1;padding-left:0px;line-height:110%}
.smain .r .tit h3 i {display:inline-block;width:5px;height:30px;background-color:#034ea1;margin-right:10px;float:left;}
.smain .r .tit div {float:right;padding-top:15px;font-size:16px;color:#666;}
.smain .r .con {padding:0;}
.smain .r .con .newslist li {height:60px;border-bottom:dotted 1px #ddd;padding:0 0;line-height:60px;background:url(../images/sanjiao.png) 1px no-repeat;padding-left:16px}
.smain .r .con .newslist li span {float:right;font-size:16px;color:#666;padding-left:20px;}
.smain .r .con .newslist li a {display:block;color:#333;font-size:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.smain .r .con .newslist li a:hover {text-decoration:underline;color:#034ea1;}
.smain .r .con .newslist li a i:last-child {color:#034ea1;}
.smain .r .con .newslist li a span .date {color:#666;padding-right:8px;}
.link {background-color:#eeeeff;padding:25px 0;}
.link .wid {display:flex;justify-content:space-between;}
.link .wid .tit {font-size:20px;background-image:url(../images/links-ico.png);background-repeat:no-repeat;background-position:left top;padding-bottom:15px;padding-left:45px;width:80px;}
.link .wid ul {width:1060px;}
.link .wid ul li {font-size:15px;padding-left:30px;display:inline-block;line-height:30px}
.foot {padding:25px 0;background-image:url("../images/bg_footer.png");background-size:cover;background-position:center center;}
.foot .wid {text-align:center;color:#fff;line-height:30px;font-size:15px;}
.foot .wid a {color:#fff;}
.foot .wid a:hover {color:#fff; text-decoration:underline}
/* 分页 */
#wp_pager {padding:30px 0 0px;text-align:center;}
#wp_pager ul.pages {margin:0px;padding:0px}
#wp_pager ul.pages li {display:inline-block;margin:0 6px;background:#fff;font-size:16px;border:0px}
#wp_pager ul.pages li:hover {display:inline-block;margin:0 6px;background:#fff;font-size:16px;border:0px}
#wp_pager ul.pages li a:hover {background:#014da1;color:#FFFFFF}
#wp_pager ul.pages li a {display:block;padding:8px 12px;border:#ddd solid 1px;color:#999;}
#wp_pager ul.pages li a.pgCurrent {background:#014da1;color:#fff;border:#014da1 solid 1px;}
